html {
    scroll-behavior: smooth;
  }

  header {
    background-color: #373738;
    padding: 15px;
    height: 75px;
  }
  
  header ul {
    float: right;
    color: white;
    margin-top: 14px;
  }
  
  header li {
    display: inline-block;
    padding: 0px 5px;
  }
  a {
    display: inline-block;
    color:#FFFFFF;
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 1.2px;
    font-weight: 300;
  }

  footer {
    background-color: #373738;
    padding: 22px 10px;
    color: white;
    height: 60px;
  }
  
  footer ul {
    list-style: none;
    padding-left: 5px;
  }
  
  footer li {
    display: inline-block;
    padding: 0px 7px;
  }
  